services:
  db:
    image: postgres:13
    container_name: confluence_db
    restart: unless-stopped
    environment:
      POSTGRES_DB: confluence
      POSTGRES_USER: confluence_user
      POSTGRES_PASSWORD: confluence_pass
    volumes:
      - confluence_db_data:/var/lib/postgresql/data
    networks:
      - backend

  confluence:
    image: atlassian/confluence-server:latest
    container_name: confluence
    environment:
      - JVM_MAXIMUM_MEMORY=4096m
      - JVM_MINIMUM_MEMORY=2048m
      - ATL_PROXY_NAME=confluence.labzs.com
      - ATL_PROXY_PORT=80
      - ATL_PROXY_SCHEME=http
      - ATL_JDBC_URL=jdbc:postgresql://db:5432/confluence
      - ATL_JDBC_USER=confluence_user
      - ATL_JDBC_PASSWORD=confluence_pass
      - ATL_DB_DRIVER=org.postgresql.Driver
      - ATL_DB_TYPE=postgresql
    volumes:
      - confluence_data:/var/atlassian/application-data/confluence
    networks:
      - proxy
      - backend
    restart: unless-stopped
    depends_on:
      - db
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.confluence.rule=Host(`confluence.labzs.com`)"
      - "traefik.http.routers.confluence.entrypoints=web"
      - "traefik.http.services.confluence.loadbalancer.server.port=8090"
      - "traefik.http.services.confluence.loadbalancer.passhostheader=true"

volumes:
  confluence_data:
  confluence_db_data:

networks:
  proxy:
    external: true
  backend:

